{% extends 'base.html' %}
{% load filters %}

{% block title %}
	AAO Degree Audit
{% endblock %}

{% block head %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endblock %}

{% block body %}
	<div class="container">
        <a href="https://aao.nu.edu.kz/" target="_blank">
            {{ logo|safe }}
        </a>
        <h2>Majors</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% with 1 as i %}
                	{% for program in ug_programs %}
                		<tr>
                            <th scope="row">{{ i }}</th>
                            <th><a href="audit/{{ program.id }}">{{ program.name }}</a></th>
                        </tr>
                        {% increment i as i %}
                	{% endfor %}
                {% endwith %}
            </tbody>
        </table>
    </div>
{% endblock %}
