{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block title %}
	AAO Degree Audit
{% endblock %}

{% block body %}
	<div class="container">
        <a href="https://aao.nu.edu.kz/" target="_blank">
            <img src="data:;base64,{{ image }}" alt="Logo" style="height: 15em">
        </a>
        {{ back|safe }}
        <div id="main_content">
            <label for="studentId" class="form-label">Student ID</label>
            <input type="text" class="form-control" id="studentId" name="studentId" readonly value="{{ student.student_id }}">
            <label for="studentName" class="form-label">Student Name</label>
            <input type="text" class="form-control" id="studentName" name="studentName" readonly value="{{ student.student_name }}">
            <label for="studentSurname" class="form-label">Student Surname</label>
            <input type="text" class="form-control" id="studentSurname" name="studentSurname" readonly value="{{ student.student_surname }}">
            <label for="studentStudyYear" class="form-label">Study Year</label>
            <input type="text" class="form-control" id="studentStudyYear" name="studentStudyYear" readonly value="{{ student.student_study_year }}">
            <label for="adviserName" class="form-label">Adviser Name</label>
            <input type="text" class="form-control" id="adviserName" name="adviserName" readonly value="{{ student.adviser.first_name }} {{ student.adviser.last_name }}">
            <label for="major" class="form-label">Major</label>
            <input type="text" class="form-control" id="major" name="major" readonly value="{{ student.major }}">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-4">Section</th>
                            <th scope="col" class="col">Course Code</th>
                            <th scope="col" class="col">Course Level</th>
                            <th scope="col" class="col">Course Name</th>
                            <th scope="col" class="col">Credits</th>
                            <th scope="col" class="col">Grade</th>
                            <th scope="col" class="col-1">Is Passed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for section_info in student.sectioninfo_set|get_all %}
                        	<tr>
                                <th>
                                    <h6>{{ section_info.section.name }}</h6>
                                    <br>
                                    {{ section_info.section.description }}
                                    <br>
                                    Need credits:
                                    <span>{{ section_info.need_credits }}</span>
                                </th>
                                <td>
                                    {% if not section_info.section.is_elective %}
                                        {% for course_info in section_info.courseinfo_set|get_all %}
                                            {% for subject_choice_info in course_info.subjectchoiceinfo_set|get_all %}
                                                <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_code }}">
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {% for subject_choice_info in section_info.subjectchoiceinfo_set|get_all %}
                                            <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_code }}">
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not section_info.section.is_elective %}
                                        {% for course_info in section_info.courseinfo_set|get_all %}
                                            {% for subject_choice_info in course_info.subjectchoiceinfo_set|get_all %}
                                                <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_level }}">
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {% for subject_choice_info in section_info.subjectchoiceinfo_set|get_all %}
                                            <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_level }}">
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not section_info.section.is_elective %}
                                        {% for course_info in section_info.courseinfo_set|get_all %}
                                            {% for subject_choice_info in course_info.subjectchoiceinfo_set|get_all %}
                                                <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_name }}">
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {% for subject_choice_info in section_info.subjectchoiceinfo_set|get_all %}
                                            <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_name }}">
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not section_info.section.is_elective %}
                                        {% for course_info in section_info.courseinfo_set|get_all %}
                                            {% for subject_choice_info in course_info.subjectchoiceinfo_set|get_all %}
                                                <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_credit }}">
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {% for subject_choice_info in section_info.subjectchoiceinfo_set|get_all %}
                                            <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_credit }}">
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not section_info.section.is_elective %}
                                        {% for course_info in section_info.courseinfo_set|get_all %}
                                            {% for subject_choice_info in course_info.subjectchoiceinfo_set|get_all %}
                                                <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_grade }}">
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {% for subject_choice_info in section_info.subjectchoiceinfo_set|get_all %}
                                            <input type="text" class="form-control" readonly value="{{ subject_choice_info.subject_grade }}">
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not section_info.section.is_elective %}
                                        {% for course_info in section_info.courseinfo_set|get_all %}
                                            {% for subject_choice_info in course_info.subjectchoiceinfo_set|get_all %}
                                                <input type="text" class="form-control" readonly value="{{ subject_choice_info.pass_status }}">
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {% for subject_choice_info in section_info.subjectchoiceinfo_set|get_all %}
                                            <input type="text" class="form-control" readonly value="{{ subject_choice_info.pass_status }}">
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <b>Total Credits</b>
                            </td>
                            <td>
                                <b>{{ student|get_total_credits }}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
