{% extends 'base.html' %}

{% block title %}
	AAO Degree Audit
{% endblock %}

{% block head %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endblock %}

{% block body %}
	<div class="container">
        <a href="https://aao.nu.edu.kz/">
            {{ logo|safe }}
        </a>
        {{ back|safe }}
        <h2>Students</h2>
        <ol class="list-group list-group-numbered">
            {% for student in students %}
                <li class="list-group-item"><a href="student/{{ student.id }}">{{ student }}</a></li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}